@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100;300;400;500;700;900&family=Noto+Serif+JP:wght@200;300;400;500;600;700;900&family=Josefin+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Zen+Kaku+Gothic+New:wght@300;400;500;700;900&&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
/* リセットCSS
===================================== */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, button, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  border: 0;
  font: inherit;
  font-size: 100%;
  margin: 0;
  padding: 0;
  vertical-align: baseline;
  -webkit-font-smoothing: antialiased;
}

html {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

li, dd {
  list-style-type: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

caption, th, td {
  font-weight: normal;
  text-align: left;
  vertical-align: middle;
}

q, blockquote {
  quotes: none;
}

q:before, q:after {
  content: "";
  content: none;
}

blockquote:before, blockquote:after {
  content: "";
  content: none;
}

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

img {
  border: none;
  vertical-align: bottom;
}

/* 基本設定
===================================== */
*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  font-weight: 400;
  color: #252525;
  font-family: "Noto Sans JP", sans-serif;
}

a {
  cursor: pointer;
  text-decoration: none;
  color: #252525;
}

.tab-show {
  display: none;
}
@media (max-width: 1129px) {
  .tab-show {
    display: block;
  }
}

.tab-hide {
  display: block;
}
@media (max-width: 1129px) {
  .tab-hide {
    display: none;
  }
}

.sp-show {
  display: none;
}
@media (max-width: 767px) {
  .sp-show {
    display: block;
  }
}

.sp-hide {
  display: block;
}
@media (max-width: 767px) {
  .sp-hide {
    display: none;
  }
}

/* 個別記述
===================================== */
header {
  width: 100%;
  height: 100px;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 99;
  background-color: rgba(255, 255, 255, 0.9);
}
@media (max-width: 1129px) {
  header {
    height: 60px;
  }
}
header .header-inner {
  height: 100%;
  padding-left: 100px;
  padding-right: 80px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
@media screen and (max-width: 1400px) {
  header .header-inner {
    padding-left: 16px;
    padding-right: 24px;
  }
}
header .header-inner .logo {
  transition: all 0.3s;
  position: relative;
  z-index: 99;
}
header .header-inner .logo:hover {
  opacity: 0.7;
}
@media (max-width: 1129px) {
  header .header-inner .logo img {
    height: 30px;
    width: auto;
  }
}
header .header-inner .menu-button {
  width: 40px;
  height: 40px;
  background-color: transparent;
}
header .header-inner .menu-button span {
  display: block;
  height: 3px;
  width: 28px;
  background-color: #093664;
  border-radius: 99px;
  margin: auto;
  margin-top: 4px;
  margin-bottom: 4px;
  transition: all 0.3s;
}
header .header-inner .menu-button.add-active span {
  margin-top: -3px;
  margin-bottom: -3px;
}
header .header-inner .menu-button.add-active span:first-child {
  transform: rotate(45deg);
}
header .header-inner .menu-button.add-active span:nth-child(2) {
  opacity: 0;
}
header .header-inner .menu-button.add-active span:nth-child(3) {
  transform: rotate(-45deg);
}
header .header-inner .right {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
@media (max-width: 1129px) {
  header .header-inner .right {
    position: fixed;
    z-index: 98;
    left: -300px;
    width: 300px;
    background-color: white;
    height: 100vh;
    top: 0;
    transition: all 0.3s;
  }
  header .header-inner .right.add-active {
    left: 0;
  }
}
@media (max-width: 767px) {
  header .header-inner .right {
    width: 200px;
  }
}
header .header-inner .right ul {
  display: flex;
}
@media (max-width: 1129px) {
  header .header-inner .right ul {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
  }
}
header .header-inner .right ul li {
  margin-right: 40px;
}
@media (max-width: 1129px) {
  header .header-inner .right ul li {
    margin-bottom: 20px;
  }
}
header .header-inner .right ul li a {
  font-size: 14px;
  font-weight: 500;
  transition: all 0.3s;
}
header .header-inner .right ul li a:hover {
  opacity: 0.7;
}
header .header-inner .right ul li:last-child {
  margin-right: 28px;
}
@media screen and (max-width: 1260px) {
  header .header-inner .right ul li {
    margin-right: 15px;
  }
  header .header-inner .right ul li:last-child {
    margin-right: 10px;
  }
}
header .header-inner .right .kaketsuke {
  color: #174186;
}
@media (max-width: 1129px) {
  header .header-inner .right .kaketsuke {
    display: none;
  }
}
header .header-inner .right .kaketsuke h6 {
  text-align: center;
  font-weight: 700;
  font-size: 25px;
  border-bottom: 1px solid;
  line-height: 1.5em;
}
header .header-inner .right .kaketsuke p {
  font-size: 17px;
  text-align: center;
  line-height: 1.5em;
}
header .header-inner .right .button {
  display: flex;
  background-color: #ed072f;
  border: 1px solid #ed072f;
  color: white;
  width: 263px;
  height: 64px;
  justify-content: center;
  align-items: center;
  border-radius: 99px;
  margin-left: 20px;
  transition: all 0.3s;
}
@media (max-width: 1129px) {
  header .header-inner .right .button {
    display: none;
  }
}
header .header-inner .right .button svg path {
  transition: all 0.3s;
}
header .header-inner .right .button:hover {
  background-color: #fff;
  color: #ed072f;
}
header .header-inner .right .button:hover svg path {
  fill: #ed072f;
}
header .header-inner .right .button .button-right {
  text-align: center;
  margin-left: 12.5px;
}
header .header-inner .right .button small {
  font-size: 12px;
  font-weight: 500;
  padding-bottom: 5px;
}
header .header-inner .right .button p {
  font-family: "Helvetica", "Roboto";
  font-weight: bold;
  font-size: 26px;
}

.fixed-area {
  position: fixed;
  right: 0;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 64px;
  z-index: 99;
}
@media (max-width: 767px) {
  .fixed-area {
    flex-direction: row-reverse;
    height: 120px;
    bottom: 0;
    width: 100%;
    background-color: #1c1c1c;
    padding: 16px;
    justify-content: space-between;
  }
}
.fixed-area a {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 220px;
  align-items: center;
  justify-content: flex-start;
  padding-top: 15px;
}
@media (max-width: 767px) {
  .fixed-area a {
    flex-direction: row;
    height: auto;
    width: 48%;
    justify-content: center;
    align-items: center;
    padding-top: 15px;
    padding-bottom: 15px;
  }
}
.fixed-area a svg {
  margin-bottom: 20px;
}
.fixed-area a img {
  margin-bottom: 10px;
}
@media (max-width: 767px) {
  .fixed-area a img {
    margin-bottom: 0;
  }
}
.fixed-area a p {
  -ms-writing-mode: tb-rl;
  writing-mode: vertical-rl;
  text-orientation: mixed;
  color: white;
  font-weight: bold;
}
@media (max-width: 767px) {
  .fixed-area a p {
    -ms-writing-mode: unset;
    writing-mode: unset;
    text-orientation: unset;
    font-size: 14px;
    line-height: 20px;
    margin-left: 5px;
  }
}
.fixed-area .tel {
  background-color: #ed072f;
  line-height: 1.25em;
  letter-spacing: 5px;
  border-top-left-radius: 8px;
  border: 1px solid #ed072f;
  transition: all 0.3s;
}
@media (max-width: 767px) {
  .fixed-area .tel {
    border-top-left-radius: 0;
    letter-spacing: 0;
  }
}
.fixed-area .tel p {
  transition: all 0.3s;
}
.fixed-area .tel svg path {
  transition: all 0.3s;
}
.fixed-area .tel:hover {
  background-color: #fff;
}
.fixed-area .tel:hover p {
  color: #ed072f;
}
.fixed-area .tel:hover svg path {
  fill: #ed072f;
}
.fixed-area .line {
  background-color: #00c300;
  line-height: 1.25em;
  letter-spacing: 1px;
  border-bottom-left-radius: 8px;
  transition: all 0.3s;
  border: 1px solid #00c300;
}
@media (max-width: 767px) {
  .fixed-area .line {
    border-bottom-left-radius: 0;
    letter-spacing: 0;
  }
}
.fixed-area .line p {
  transition: all 0.3s;
}
.fixed-area .line svg path {
  transition: all 0.3s;
}
.fixed-area .line:hover {
  background-color: #fff;
}
.fixed-area .line:hover p {
  color: #00c300;
}

main {
  margin-top: 100px;
  overflow: hidden;
}
@media (max-width: 1129px) {
  main {
    margin-top: 60px;
  }
}

.fv {
  height: 700px;
  background-image: url(../img/fv.webp);
  background-size: cover;
  position: relative;
}
@media screen and (max-width: 1040px) {
  .fv {
    height: 600px;
  }
}
@media (max-width: 767px) {
  .fv {
    height: 430px;
  }
}
@media screen and (max-width: 1040px) {
  .fv .fv-inner {
    height: 100%;
    display: flex;
    align-items: center;
  }
}
@media (max-width: 767px) {
  .fv .fv-inner {
    align-items: unset;
  }
}
.fv .right {
  position: absolute;
  bottom: 0;
  right: 0px;
  height: 100%;
}
.fv .right img {
  height: 100%;
  width: auto;
}
@media screen and (max-width: 1300px) {
  .fv .right {
    right: -50px;
    display: flex;
    align-items: flex-end;
  }
  .fv .right img {
    height: 75%;
  }
}
@media screen and (max-width: 1040px) {
  .fv .right {
    height: 100%;
  }
}
@media (max-width: 767px) {
  .fv .right {
    right: 0;
    justify-content: flex-end;
  }
  .fv .right img {
    height: auto;
    width: 80%;
  }
}
@media screen and (max-width: 500px) {
  .fv .right img {
    margin-bottom: 50px;
  }
}
.fv .left {
  padding-left: 70px;
  position: relative;
  z-index: 2;
}
@media screen and (max-width: 1300px) {
  .fv .left {
    padding-left: 20px;
  }
}
@media (max-width: 767px) {
  .fv .left {
    padding-left: 10px;
  }
}
.fv .left .catch {
  margin-bottom: 25px;
}
@media screen and (max-width: 1040px) {
  .fv .left .catch {
    width: 60%;
    transform: rotate(5deg);
    margin-bottom: 0;
  }
}
@media (max-width: 767px) {
  .fv .left .catch {
    width: 300px;
  }
}
.fv .left .left-bottom {
  display: flex;
  position: relative;
}
.fv .left .left-bottom .tokucho2 {
  margin-top: -90px;
}
@media screen and (max-width: 1040px) {
  .fv .left .left-bottom {
    flex-direction: column-reverse;
  }
  .fv .left .left-bottom .tokucho2 {
    width: 170px;
    margin-top: 0;
    margin-left: 40px;
  }
  .fv .left .left-bottom .tokucho1 img {
    height: 60px;
  }
}
@media (max-width: 767px) {
  .fv .left .left-bottom .tokucho2 {
    margin-top: 0px;
    margin-bottom: 20px;
  }
  .fv .left .left-bottom .tokucho1 img {
    height: 56px;
    margin-right: -10px;
  }
}

.section-inner {
  max-width: 1280px;
  margin: auto;
  width: 100%;
  background-color: #e4f2fe;
}
@media (max-width: 1129px) {
  .section-inner {
    padding-left: 15px;
    padding-right: 15px;
  }
}

.donyu .section-inner {
  padding-top: 80px;
  padding-bottom: 64px;
}
@media (max-width: 767px) {
  .donyu .section-inner {
    padding-top: 35px;
    padding-bottom: 40px;
  }
}

.cta {
  width: 100%;
  max-width: 1100px;
  margin: auto;
}
.cta .top {
  background-color: #fff;
  display: flex;
  justify-content: space-between;
  padding-left: 40px;
  padding-right: 40px;
  margin-bottom: -75px;
}
@media screen and (max-width: 1000px) {
  .cta .top {
    margin-bottom: 0;
    padding-bottom: 20px;
    padding-left: 0;
    padding-right: 0;
  }
}
@media (max-width: 767px) {
  .cta .top {
    padding-bottom: 10px;
  }
}
.cta .top .center {
  padding-top: 50px;
}
@media (min-width: 1130px) {
  .cta .top .center {
    margin-left: 50px;
  }
}
@media (max-width: 767px) {
  .cta .top .center {
    padding-top: 24px;
    width: calc(100% - 57.5px);
    text-align: center;
  }
}
.cta .top .center h2 {
  text-align: center;
  font-weight: bold;
  font-family: "Hiragino Sans", "Noto Sans JP";
  color: #ed072f;
  font-size: 40px;
  position: relative;
}
@media screen and (max-width: 1000px) {
  .cta .top .center h2 {
    font-size: 32px;
  }
}
@media (max-width: 767px) {
  .cta .top .center h2 {
    font-size: 18px;
  }
}
@media screen and (max-width: 370px) {
  .cta .top .center h2 {
    font-size: 16px;
  }
}
@media (max-width: 767px) {
  .cta .top .center h2 {
    padding-left: 15px;
    padding-right: 15px;
    display: inline-block;
  }
}
.cta .top .center h2::before {
  content: "";
  width: 34.55px;
  height: 42.22px;
  background-image: url(../img/ase.svg);
  position: absolute;
  left: -50px;
  top: 0;
}
@media (max-width: 767px) {
  .cta .top .center h2::before {
    width: 10px;
    height: 18px;
    background-size: contain;
    left: 0px;
    background-image: url(../img/ase-sp.svg);
    background-repeat: no-repeat;
  }
}
.cta .top .center h2::after {
  content: "";
  width: 31.92px;
  height: 42.22px;
  background-image: url(../img/ase2.svg);
  position: absolute;
  right: -50px;
  top: 0;
}
@media (max-width: 767px) {
  .cta .top .center h2::after {
    width: 10px;
    height: 18px;
    background-size: contain;
    right: 0px;
    background-image: url(../img/ase2-sp.svg);
    background-repeat: no-repeat;
  }
}
.cta .top .center h2 span {
  position: relative;
  z-index: 2;
}
.cta .top .center h2 span::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 11px;
  background-color: #fcf638;
  bottom: 0;
  left: 0;
  z-index: -1;
}
@media (max-width: 767px) {
  .cta .top .center h2 span::after {
    height: 4px;
  }
}
.cta .top .center .labels {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}
.cta .top .center .labels p {
  background-color: #195eae;
  font-size: 18px;
  color: white;
  font-weight: bold;
  text-align: center;
  line-height: 35px;
  width: calc(33.333% - 26.6px);
}
@media (max-width: 767px) {
  .cta .top .center .labels p {
    font-size: 11px;
    line-height: 18px;
    max-width: 100px;
  }
}
@media (max-width: 767px) {
  .cta .top .center .labels {
    margin-top: 10px;
    justify-content: center;
  }
  .cta .top .center .labels p {
    margin-left: 2%;
    margin-right: 2%;
  }
  .cta .top .center .labels p:first-child {
    margin-left: 0;
  }
  .cta .top .center .labels p:last-child {
    margin-right: 0;
  }
}
@media (max-width: 1129px) {
  .cta .top .right img {
    display: none;
  }
}
@media screen and (max-width: 1000px) {
  .cta .top .left .ribbon {
    width: 80px;
  }
}
@media (max-width: 767px) {
  .cta .top .left .ribbon {
    width: 57.5px;
  }
}
.cta .bottom {
  background-color: #093664;
  padding-bottom: 35px;
}
.cta .bottom h2 {
  text-align: center;
  font-weight: bold;
  color: white;
  font-size: 24px;
  line-height: 1.4em;
  padding-top: 20px;
  padding-bottom: 10px;
}
@media (max-width: 767px) {
  .cta .bottom h2 {
    font-size: 16px;
  }
}
.cta .bottom .desc {
  text-align: center;
  font-size: 18px;
  font-weight: 500;
  color: white;
}
@media (max-width: 767px) {
  .cta .bottom .desc {
    font-size: 14px;
  }
}
.cta .bottom .button-wrapper {
  display: flex;
  justify-content: center;
  padding-top: 16px;
}
@media (max-width: 1129px) {
  .cta .bottom .button-wrapper {
    flex-direction: column;
    align-items: center;
    padding-top: 32px;
  }
}
.cta .bottom .button-wrapper .button {
  display: flex;
  background-color: #ed072f;
  border: 1px solid #ed072f;
  color: white;
  width: 368px;
  height: 71px;
  justify-content: center;
  align-items: center;
  border-radius: 99px;
  margin-left: 10px;
  margin-right: 10px;
  transition: all 0.3s;
}
@media (max-width: 1129px) {
  .cta .bottom .button-wrapper .button:first-child {
    margin-bottom: 24px;
  }
}
@media (max-width: 767px) {
  .cta .bottom .button-wrapper .button {
    width: 320px;
    height: 64px;
  }
}
.cta .bottom .button-wrapper .button svg path {
  transition: all 0.3s;
}
.cta .bottom .button-wrapper .button:hover {
  background-color: #fff;
  color: #ed072f;
}
.cta .bottom .button-wrapper .button:hover svg path {
  fill: #ed072f;
}
.cta .bottom .button-wrapper .button .button-right {
  text-align: center;
  margin-left: 12.5px;
}
.cta .bottom .button-wrapper .button small {
  font-size: 12px;
  font-weight: 500;
}
.cta .bottom .button-wrapper .button p {
  font-family: "Helvetica", "Roboto";
  font-weight: bold;
  font-size: 26px;
  padding-top: 5px;
}
.cta .bottom .button-wrapper .line {
  background-color: #21c329;
  border: 1px solid #21c329;
}
@media (max-width: 767px) {
  .cta .bottom .button-wrapper .line .button-right {
    margin-left: 5px;
  }
}
.cta .bottom .button-wrapper .line:hover {
  background-color: #fff;
  color: #21c329;
}
.cta .bottom .button-wrapper .line p {
  font-size: 24px;
}
@media (max-width: 767px) {
  .cta .bottom .button-wrapper .line p {
    font-size: 18px;
  }
}

.covid {
  width: 100%;
  max-width: 960px;
  margin: auto;
  border: 2px solid #195eae;
  margin-top: 30px;
  background-color: #fff;
}
.covid h2 {
  background-color: #195eae;
  color: white;
  font-family: "Hiragino Sans", "Noto Sans JP";
  font-weight: bold;
  font-size: 32px;
  padding-left: 48px;
  padding-top: 16px;
  padding-bottom: 16px;
  padding-right: 15px;
}
@media (max-width: 767px) {
  .covid h2 {
    font-size: 18px;
    padding-left: 0;
    padding-right: 0;
  }
}
.covid h2 span {
  position: relative;
}
.covid h2 span::before {
  content: "";
  width: 8px;
  height: 40px;
  position: absolute;
  left: -20px;
  top: -3px;
  background-color: #fae935;
  border-radius: 1px;
}
@media (max-width: 767px) {
  .covid h2 span::before {
    height: 24px;
    width: 3px;
    left: -15px;
  }
}
@media (max-width: 1129px) {
  .covid h2 {
    text-align: center;
  }
}
.covid .bottom {
  display: flex;
  margin-top: 30px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 20px;
}
@media (max-width: 1129px) {
  .covid .bottom {
    flex-direction: column-reverse;
    align-items: center;
    margin-top: 16px;
  }
}
@media (max-width: 767px) {
  .covid .bottom {
    padding-left: 15px;
    padding-right: 15px;
  }
}
.covid .bottom .left {
  width: 320px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.covid .bottom .left img {
  -webkit-filter: drop-shadow(1px 3px 5px rgba(0, 0, 0, 0.1));
  -moz-filter: drop-shadow(1px 3px 5px rgba(0, 0, 0, 0.1));
  -ms-filter: drop-shadow(1px 3px 5px rgba(0, 0, 0, 0.1));
  filter: drop-shadow(1px 3px 5px rgba(0, 0, 0, 0.1));
}
.covid .bottom .left .center {
  margin-left: 40px;
  margin-right: 40px;
}
.covid .bottom .left .img4 {
  margin-right: 20px;
}
.covid .bottom .left .img5 {
  margin-left: 20px;
}
.covid .bottom .right {
  width: calc(100% - 360px);
  margin-left: 40px;
  font-size: 20px;
  line-height: 1.8em;
}
@media (max-width: 1129px) {
  .covid .bottom .right {
    width: 100%;
    margin-left: 0;
    padding-bottom: 15px;
  }
}
@media (max-width: 767px) {
  .covid .bottom .right {
    font-size: 14px;
  }
}

.ttl-wrapper {
  padding-top: 50px;
  padding-bottom: 50px;
  background-image: url(../img/fv.webp);
  background-size: cover;
  width: calc(100% + 30px);
  max-width: 1280px;
  margin: auto;
}
@media (max-width: 767px) {
  .ttl-wrapper {
    margin-left: -15px;
    padding-top: 23px;
    padding-bottom: 23px;
  }
}
.ttl-wrapper h2 {
  text-align: center;
  font-weight: bold;
  color: white;
  font-size: 42px;
  font-family: "Hiragino Sans", "Noto Sans JP";
}
@media (max-width: 767px) {
  .ttl-wrapper h2 {
    font-size: 18px;
  }
}
.ttl-wrapper h2 span {
  position: relative;
}
.ttl-wrapper h2 span::after {
  content: "";
  width: 130%;
  height: 30px;
  position: absolute;
  bottom: -30px;
  left: -20%;
  background-image: url(../img/yallow-line.svg);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: top center;
}
@media (max-width: 767px) {
  .ttl-wrapper h2 span::after {
    width: 320px;
    left: calc(50% - 180px);
  }
}

.strong {
  padding-bottom: 80px;
}
@media (max-width: 1129px) {
  .strong {
    padding-bottom: 0;
  }
}
.strong .card-wrapper {
  display: flex;
  justify-content: space-between;
  padding-top: 64px;
  width: 100%;
  max-width: 1100px;
  margin: auto;
  padding-bottom: 64px;
}
@media (max-width: 1129px) {
  .strong .card-wrapper {
    flex-direction: column;
    padding-bottom: 0;
    padding-left: 15px;
    padding-right: 15px;
  }
}
@media screen and (max-width: 860px) {
  .strong .card-wrapper {
    padding-left: 0;
    padding-right: 0;
  }
}
@media (max-width: 767px) {
  .strong .card-wrapper {
    padding-top: 30px;
    padding-bottom: 0px;
  }
}
.strong .card-wrapper .card {
  width: calc(33.333% - 33.33px);
  box-sizing: border-box;
  background-color: #fff;
}
@media (max-width: 1129px) {
  .strong .card-wrapper .card {
    width: 100%;
    max-width: 800px;
    margin: auto;
    margin-bottom: 40px;
  }
}
.strong .card-wrapper .card .card-bottom {
  border: solid 6px #194494;
  border-top: none;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}
.strong .card-wrapper .card .ttl {
  background-color: #195eae;
  height: 70px;
  text-align: center;
  font-size: 24px;
  font-weight: bold;
  color: white;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  font-family: "Hiragino Sans", "Noto Sans JP";
}
@media (max-width: 767px) {
  .strong .card-wrapper .card .ttl {
    height: 56px;
    font-size: 18px;
  }
}
.strong .card-wrapper .card .ttl span {
  color: #fae935;
}
.strong .card-wrapper .card .ttl .big {
  font-family: "Roboto";
  font-size: 66px;
  font-style: italic;
}
@media (max-width: 767px) {
  .strong .card-wrapper .card .ttl .big {
    font-size: 46px;
  }
}
.strong .card-wrapper .card .ttl1 {
  padding-top: 12px;
}
@media (max-width: 1129px) {
  .strong .card-wrapper .card .ttl1 {
    padding-top: 0;
    line-height: 70px;
  }
}
@media (max-width: 767px) {
  .strong .card-wrapper .card .ttl1 {
    line-height: 56px;
  }
}
.strong .card-wrapper .card .ttl2 {
  padding-top: 3px;
}
.strong .card-wrapper .card .ttl3 {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 5px;
}
.strong .card-wrapper .card .ttl3 h6 {
  font-size: 17px;
  line-height: 1.2em;
}
@media (max-width: 767px) {
  .strong .card-wrapper .card .ttl3 h6 {
    font-size: 12px;
  }
}
.strong .card-wrapper .card .ttl3 .right span {
  font-family: "Roboto";
  font-size: 56px;
  font-style: italic;
  padding-left: 5px;
  padding-right: 5px;
}
@media (max-width: 767px) {
  .strong .card-wrapper .card .ttl3 .right span {
    font-size: 40px;
  }
}
.strong .card-wrapper .card .img-wrapper {
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 20px;
  padding-bottom: 15px;
}
.strong .card-wrapper .card .img-wrapper img {
  width: 100%;
}
.strong .card-wrapper .card p {
  font-size: 18px;
  line-height: 1.55em;
  padding-left: 25px;
  padding-right: 25px;
  padding-bottom: 10px;
}
@media (max-width: 1129px) {
  .strong .card-wrapper .card p {
    padding-bottom: 22px;
  }
}
@media (max-width: 767px) {
  .strong .card-wrapper .card p {
    font-size: 16px;
  }
}
@media (max-width: 1129px) {
  .strong .hotei-inner {
    padding-left: 15px;
    padding-right: 15px;
  }
}
.strong .hotei {
  width: 100%;
  max-width: 1100px;
  margin: auto;
  border: solid 4px #195eae;
  border-radius: 6px;
  display: flex;
}
@media (max-width: 1129px) {
  .strong .hotei {
    max-width: 800px;
  }
}
.strong .hotei .img-wrapper {
  width: 32%;
  padding: 10px;
  background-color: #fff;
}
.strong .hotei .img-wrapper img {
  width: 100%;
}
@media (max-width: 1129px) {
  .strong .hotei .img-wrapper {
    display: none;
  }
}
.strong .hotei .right {
  width: 68%;
  background-color: #195eae;
  padding: 44px;
}
@media (max-width: 1129px) {
  .strong .hotei .right {
    width: 100%;
  }
}
@media (max-width: 767px) {
  .strong .hotei .right {
    padding: 20px;
  }
}
.strong .hotei .right h2 {
  font-family: "Hiragino Sans", "Noto Sans JP";
  color: white;
  font-weight: bold;
  font-size: 32px;
  padding-left: 72px;
}
@media (max-width: 1129px) {
  .strong .hotei .right h2 {
    text-align: center;
    padding-left: 0;
  }
}
@media (max-width: 767px) {
  .strong .hotei .right h2 {
    font-size: 18px;
  }
}
.strong .hotei .right h2 span {
  position: relative;
}
.strong .hotei .right h2 span::after {
  content: "";
  width: calc(100% + 72px);
  height: 13px;
  background-image: url(../img/yallow-line.svg);
  position: absolute;
  bottom: -8px;
  left: -72px;
  background-size: cover;
}
@media (max-width: 767px) {
  .strong .hotei .right h2 span::after {
    width: calc(100% + 87px);
    left: -46px;
    height: 8px;
    bottom: -10px;
  }
}
.strong .hotei .right p {
  padding-top: 25px;
  font-size: 18px;
  line-height: 1.55em;
  color: white;
}
@media (max-width: 767px) {
  .strong .hotei .right p {
    font-size: 16px;
  }
}
.strong .hotei-inner {
  padding-bottom: 72px;
}
@media (max-width: 767px) {
  .strong .hotei-inner {
    padding-bottom: 40px;
  }
}

.achievement {
  padding-bottom: 80px;
}
@media (max-width: 767px) {
  .achievement {
    padding-bottom: 40px;
  }
}
.achievement .section-inner {
  padding-top: 60px;
  padding-bottom: 60px;
}
@media (max-width: 767px) {
  .achievement .section-inner {
    padding-top: 40px;
  }
}
.achievement .section-inner .card-wrapper {
  display: flex;
  justify-content: space-between;
  width: 100%;
  max-width: 1100px;
  margin: auto;
  padding-bottom: 40px;
}
@media (max-width: 1129px) {
  .achievement .section-inner .card-wrapper {
    flex-direction: column;
    align-items: center;
    padding-left: 15px;
    padding-right: 15px;
  }
}
.achievement .section-inner .card-wrapper .card {
  width: calc(33.333% - 33.33px);
  box-sizing: border-box;
  background-color: #fff;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}
@media (max-width: 1129px) {
  .achievement .section-inner .card-wrapper .card {
    width: 100%;
    max-width: 800px;
    margin-bottom: 60px;
  }
}
.achievement .section-inner .card-wrapper .card .ttl {
  text-align: center;
  position: relative;
  background-color: #195eae;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
.achievement .section-inner .card-wrapper .card .ttl .circle {
  width: 68px;
  height: 68px;
  background-color: #195eae;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 99px;
  border: 1px solid #ffffff;
  position: absolute;
  top: -34px;
  left: calc(50% - 34px);
}
@media (max-width: 767px) {
  .achievement .section-inner .card-wrapper .card .ttl .circle {
    width: 59px;
    height: 59px;
    top: -29.5px;
    left: calc(50% - 29.5px);
  }
}
.achievement .section-inner .card-wrapper .card .ttl .circle h3 {
  font-size: 40px;
  font-style: italic;
  color: #ffdc41;
  font-family: "Roboto", sans-serif;
  font-weight: bold;
}
@media (max-width: 767px) {
  .achievement .section-inner .card-wrapper .card .ttl .circle h3 {
    font-size: 32px;
  }
}
.achievement .section-inner .card-wrapper .card .ttl h2 {
  font-family: "Hiragino Sans", "Noto Sans JP";
  font-weight: bold;
  color: white;
  padding-top: 40px;
  padding-bottom: 15px;
  font-size: 26px;
}
@media (max-width: 767px) {
  .achievement .section-inner .card-wrapper .card .ttl h2 {
    padding-top: 35px;
    font-size: 18px;
  }
}
.achievement .section-inner .card-wrapper .card p {
  font-size: 18px;
  line-height: 1.555em;
  padding: 16px 26px;
}
@media (max-width: 767px) {
  .achievement .section-inner .card-wrapper .card p {
    font-size: 16px;
    padding: 16px;
  }
}
@media (max-width: 767px) {
  .achievement .section-inner {
    padding-bottom: 0;
  }
  .achievement .section-inner .cta {
    position: relative;
  }
}
@media (max-width: 767px) and (max-width: 1129px) {
  .achievement .section-inner .cta::after {
    content: "";
    position: absolute;
    top: -148px;
    right: -10px;
    width: 190px;
    height: 154px;
    background-image: url(../img/sodan-man.svg);
    object-fit: contain;
    transform: scale(0.9);
  }
}

.product {
  padding-bottom: 80px;
}
@media (max-width: 767px) {
  .product {
    padding-bottom: 0;
  }
}
.product .section-inner {
  padding-top: 60px;
  padding-bottom: 50px;
}
@media (max-width: 767px) {
  .product .section-inner {
    padding-top: 24px;
  }
}
.product .recommend-wrapper {
  max-width: 1100px;
  width: 100%;
  margin: auto;
}
.product .recommend-wrapper .recommend {
  margin-bottom: 50px;
}
@media (max-width: 1129px) {
  .product .recommend-wrapper .recommend {
    max-width: 800px;
    margin: auto;
    margin-bottom: 24px;
  }
}
.product .recommend-wrapper .recommend:last-child {
  margin-bottom: 0;
}
.product .recommend-wrapper .recommend h2 {
  background-color: #195eae;
  color: white;
  font-family: "Hiragino Sans", "Noto Sans JP";
  font-weight: bold;
  padding-top: 25px;
  padding-bottom: 25px;
  padding-left: 40px;
  font-size: 26px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
@media (max-width: 1129px) {
  .product .recommend-wrapper .recommend h2 {
    text-align: center;
    padding-left: 0;
  }
}
@media (max-width: 767px) {
  .product .recommend-wrapper .recommend h2 {
    padding-top: 20px;
    padding-bottom: 20px;
    font-size: 17px;
  }
}
.product .recommend-wrapper .recommend .bottom {
  background-color: #fff;
  padding: 40px 60px;
  display: flex;
  justify-content: space-between;
}
@media (max-width: 1129px) {
  .product .recommend-wrapper .recommend .bottom {
    flex-direction: column;
    align-items: center;
  }
}
@media (max-width: 767px) {
  .product .recommend-wrapper .recommend .bottom {
    padding: 12px 16px;
  }
}
.product .recommend-wrapper .recommend .bottom .card {
  width: calc(50% - 25px);
}
@media (max-width: 1129px) {
  .product .recommend-wrapper .recommend .bottom .card {
    width: 100%;
    padding-bottom: 30px;
  }
}
.product .recommend-wrapper .recommend .bottom .card img {
  width: 100%;
}
.product .recommend-wrapper .recommend .bottom .card .img-wrapper {
  position: relative;
  margin-bottom: 16px;
}
.product .recommend-wrapper .recommend .bottom .card .img-wrapper .label {
  position: absolute;
  left: 0;
  top: 0;
  background-color: #e00d21;
  color: white;
  font-size: 20px;
  padding: 3px 36px;
}
@media (max-width: 767px) {
  .product .recommend-wrapper .recommend .bottom .card .img-wrapper .label {
    font-size: 10px;
    padding: 1px 20px;
  }
}
.product .recommend-wrapper .recommend .bottom .card .category {
  display: flex;
  margin-bottom: 16px;
}
.product .recommend-wrapper .recommend .bottom .card .category .label {
  font-size: 20px;
  color: white;
  font-weight: bold;
  background-color: #093664;
  padding: 0px 32px;
  margin-right: 16px;
}
@media (max-width: 767px) {
  .product .recommend-wrapper .recommend .bottom .card .category .label {
    font-size: 14px;
    padding: 0 15px;
  }
}
.product .recommend-wrapper .recommend .bottom .card p {
  font-size: 20px;
  line-height: 1.8em;
}
@media (max-width: 767px) {
  .product .recommend-wrapper .recommend .bottom .card p {
    font-size: 16px;
  }
}

.flow {
  padding-bottom: 80px;
}
@media (max-width: 767px) {
  .flow {
    padding-bottom: 0;
  }
}
.flow .section-inner {
  padding-top: 70px;
  padding-bottom: 80px;
}
@media (max-width: 767px) {
  .flow .section-inner {
    padding-top: 24px;
    padding-bottom: 0;
  }
}
.flow .section-inner .flow-inner {
  width: 100%;
  margin: auto;
  max-width: 1100px;
  display: flex;
  justify-content: space-between;
}
@media (max-width: 1129px) {
  .flow .section-inner .flow-inner {
    flex-direction: column;
    align-items: center;
    max-width: 800px;
  }
}
.flow .section-inner .flow-inner .card {
  width: calc(20% - 47.5px);
  position: relative;
}
@media (max-width: 1129px) {
  .flow .section-inner .flow-inner .card {
    width: 100%;
    margin-bottom: 50px;
  }
}
.flow .section-inner .flow-inner .card img {
  width: 100%;
}
.flow .section-inner .flow-inner .card h4 {
  background-color: #093664;
  color: white;
  text-align: center;
  font-weight: bold;
  font-family: "Hiragino Sans", "Noto Sans JP";
  font-size: 24px;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-top: 15px;
  border-radius: 8px;
}
@media (max-width: 1129px) {
  .flow .section-inner .flow-inner .card h4 {
    margin: auto;
    margin-top: 0;
    margin-bottom: 15px;
    max-width: 200px;
  }
}
@media (max-width: 767px) {
  .flow .section-inner .flow-inner .card h4 {
    font-size: 18px;
  }
}
.flow .section-inner .flow-inner .card::after {
  content: "";
  width: 25px;
  height: 41px;
  position: absolute;
  background-image: url(../img/right-arrow.svg);
  right: -43px;
  top: 100px;
}
@media (max-width: 1129px) {
  .flow .section-inner .flow-inner .card::after {
    transform: rotate(90deg);
    top: unset;
    bottom: -45px;
    right: calc(50% - 20px);
  }
}
.flow .section-inner .flow-inner .card:last-child::after {
  display: none;
}

.achievement2 {
  padding-bottom: 80px;
}
@media (max-width: 767px) {
  .achievement2 {
    padding-bottom: 0;
  }
}
.achievement2 .section-inner {
  padding-top: 64px;
  padding-bottom: 80px;
}
@media (max-width: 767px) {
  .achievement2 .section-inner {
    padding-top: 24px;
    padding-bottom: 40px;
  }
}
.achievement2 .section-inner .case-wrapper {
  max-width: 1100px;
  width: 100%;
  margin: auto;
}
.achievement2 .section-inner .case-wrapper .case {
  margin-bottom: 64px;
}
@media (max-width: 1129px) {
  .achievement2 .section-inner .case-wrapper .case {
    max-width: 800px;
    margin: auto;
    margin-bottom: 24px;
  }
}
.achievement2 .section-inner .case-wrapper .case:last-child {
  margin-bottom: 0;
}
.achievement2 .section-inner .case-wrapper .case .ttl {
  background-color: #195eae;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  position: relative;
}
.achievement2 .section-inner .case-wrapper .case .ttl img {
  position: absolute;
  left: 40px;
}
@media (max-width: 767px) {
  .achievement2 .section-inner .case-wrapper .case .ttl img {
    width: 30px;
    left: 20px;
  }
}
.achievement2 .section-inner .case-wrapper .case h3 {
  text-align: center;
  color: white;
  font-size: 32px;
  font-weight: bold;
  font-family: "Hiragino Sans", "Noto Sans JP";
  padding-top: 24px;
  padding-bottom: 24px;
}
@media (max-width: 767px) {
  .achievement2 .section-inner .case-wrapper .case h3 {
    font-size: 17px;
    padding-top: 20px;
    padding-bottom: 20px;
  }
}
.achievement2 .section-inner .case-wrapper .case .bottom {
  padding: 30px 40px;
  background-color: white;
  display: flex;
  justify-content: space-between;
}
@media (max-width: 1129px) {
  .achievement2 .section-inner .case-wrapper .case .bottom {
    flex-direction: column;
    align-items: center;
  }
  .achievement2 .section-inner .case-wrapper .case .bottom > img {
    transform: rotate(90deg);
    width: 40px;
    margin-top: 10px;
    margin-bottom: 10px;
  }
}
@media (max-width: 767px) {
  .achievement2 .section-inner .case-wrapper .case .bottom {
    padding: 8px;
  }
}
.achievement2 .section-inner .case-wrapper .case .bottom .card {
  width: calc(50% - 40px);
  position: relative;
}
@media (max-width: 1129px) {
  .achievement2 .section-inner .case-wrapper .case .bottom .card {
    width: 100%;
  }
}
.achievement2 .section-inner .case-wrapper .case .bottom .card .label {
  position: absolute;
  left: 0;
  top: 0;
  color: white;
  font-size: 18px;
  font-weight: bold;
  font-family: "Hiragino Sans", "Noto Sans JP";
  padding: 14px 28px;
}
@media (max-width: 767px) {
  .achievement2 .section-inner .case-wrapper .case .bottom .card .label {
    font-size: 14px;
    padding: 10px 20px;
  }
}
.achievement2 .section-inner .case-wrapper .case .bottom .card .before {
  background-color: #e00d21;
}
.achievement2 .section-inner .case-wrapper .case .bottom .card .after {
  background-color: #093664;
}
.achievement2 .section-inner .case-wrapper .case .bottom .card .img-wrapper img {
  width: 100%;
}

.voice {
  padding-bottom: 80px;
}
@media (max-width: 767px) {
  .voice {
    padding-bottom: 0;
  }
}
.voice .container {
  position: relative;
}
.voice .swiper {
  width: 100%;
  max-width: 1100px;
  margin: auto;
  padding-top: 60px;
}
@media (max-width: 767px) {
  .voice .swiper {
    padding-top: 24px;
  }
}
.voice .swiper .swiper-slide {
  border: 2px solid #194494;
}
.voice .swiper .swiper-slide img {
  width: 100%;
}
.voice .swiper .swiper-slide .bottom {
  background-color: white;
  padding: 20px 10px;
  min-height: 200px;
}
.voice .swiper .swiper-slide .bottom h3 {
  font-weight: bold;
  color: #3b4043;
  font-size: 18px;
}
.voice .swiper .swiper-slide .bottom p {
  font-size: 12px;
  line-height: 1.66em;
  padding-top: 10px;
}
.voice .swiper-button-next, .voice .swiper-button-prev {
  width: 64px;
  height: 64px;
}
.voice .swiper-button-next::after, .voice .swiper-button-prev::after {
  display: none;
}
@media (max-width: 1129px) {
  .voice .swiper-button-next, .voice .swiper-button-prev {
    display: none;
  }
}
.voice .swiper-button-next {
  background-image: url(../img/swiper-next.svg);
  right: 0;
}
.voice .swiper-button-prev {
  background-image: url(../img/swiper-prev.svg);
  left: 0;
}
.voice .swiper-pagination {
  position: static;
  margin-top: 40px;
  padding-bottom: 25px;
}
@media (max-width: 767px) {
  .voice .swiper-pagination {
    margin-top: 10px;
  }
}
.voice .swiper-pagination .swiper-pagination-bullet {
  width: 14px;
  height: 14px;
  margin: 0 8px;
}
@media (max-width: 767px) {
  .voice .swiper-pagination .swiper-pagination-bullet {
    width: 10px;
    height: 10px;
    margin: 0 6px;
  }
}
.voice .swiper-pagination .swiper-pagination-bullet-active {
  background-color: #093664;
}

.faq {
  padding-bottom: 80px;
}
.faq h2 span::after {
  width: 180%;
  left: -40%;
}
@media (max-width: 767px) {
  .faq h2 span::after {
    width: 320px;
    left: calc(50% - 180px);
  }
}
@media (max-width: 1129px) {
  .faq {
    padding-bottom: 0;
  }
}
.faq .section-inner {
  padding-bottom: 80px;
}
@media (max-width: 767px) {
  .faq .section-inner {
    padding-bottom: 40px;
  }
}
.faq .section-inner .faq-wrapper {
  padding-top: 64px;
  background-color: #fff;
  width: 100%;
  max-width: 1100px;
  margin: auto;
  padding-left: 48px;
  padding-right: 48px;
}
@media (max-width: 1129px) {
  .faq .section-inner .faq-wrapper {
    max-width: 800px;
  }
}
@media (max-width: 767px) {
  .faq .section-inner .faq-wrapper {
    padding-top: 16px;
    padding-left: 8px;
    padding-right: 8px;
  }
}
.faq .section-inner .faq-wrapper .single {
  border-bottom: 1px solid #79808b;
  padding-bottom: 40px;
  margin-bottom: 40px;
}
@media (max-width: 767px) {
  .faq .section-inner .faq-wrapper .single {
    margin-bottom: 16px;
    padding-bottom: 16px;
  }
}
.faq .section-inner .faq-wrapper .single:last-child {
  border-bottom: none;
  margin-bottom: 0px;
  padding-bottom: 60px;
}
@media (max-width: 767px) {
  .faq .section-inner .faq-wrapper .single:last-child {
    padding-bottom: 24px;
  }
}
.faq .section-inner .faq-wrapper .single h5 {
  width: 56px;
  height: 56px;
  background-color: #ffdc41;
  border-radius: 99px;
  color: #195eae;
  text-align: center;
  font-family: "Helvetica", "Noto Sans JP";
  font-size: 39px;
  font-weight: bold;
  text-align: center;
  line-height: 56px;
}
@media (max-width: 767px) {
  .faq .section-inner .faq-wrapper .single h5 {
    width: 32px;
    height: 32px;
    line-height: 32px;
    font-size: 22px;
  }
}
.faq .section-inner .faq-wrapper .single .q {
  display: flex;
  align-items: center;
  margin-bottom: 24px;
}
@media (max-width: 767px) {
  .faq .section-inner .faq-wrapper .single .q {
    margin-bottom: 16px;
  }
}
.faq .section-inner .faq-wrapper .single .q h6 {
  margin-left: 24px;
  font-size: 28px;
  font-weight: bold;
  color: #2e2e2e;
}
@media (max-width: 767px) {
  .faq .section-inner .faq-wrapper .single .q h6 {
    width: calc(100% - 56px);
    font-size: 14px;
    margin-left: 15px;
  }
}
.faq .section-inner .faq-wrapper .single .a {
  display: flex;
  align-items: center;
}
.faq .section-inner .faq-wrapper .single .a h5 {
  color: white;
  background-color: #ec191f;
}
.faq .section-inner .faq-wrapper .single .a h6 {
  margin-left: 24px;
  font-size: 20px;
  color: #2e2e2e;
  font-weight: 500;
}
@media (max-width: 767px) {
  .faq .section-inner .faq-wrapper .single .a h6 {
    width: calc(100% - 56px);
    font-size: 14px;
    line-height: 22px;
    margin-left: 15px;
  }
}

.area {
  padding-bottom: 80px;
}
.area h2 span::after {
  width: 200%;
  left: -60%;
}
@media (max-width: 767px) {
  .area h2 span::after {
    width: 320px;
    left: calc(50% - 180px);
  }
}
@media (max-width: 1129px) {
  .area {
    padding-bottom: 0;
  }
}
.area .section-inner {
  padding-bottom: 80px;
}
@media (max-width: 767px) {
  .area .section-inner {
    padding-bottom: 40px;
  }
}
.area .section-inner .area-wrapper {
  max-width: 1100px;
  margin: auto;
  width: 100%;
  padding: 48px 80px;
  display: flex;
  background-color: #fff;
}
@media (max-width: 1129px) {
  .area .section-inner .area-wrapper {
    max-width: 800px;
    flex-direction: column;
  }
}
@media (max-width: 767px) {
  .area .section-inner .area-wrapper {
    padding: 20px;
  }
}
.area .section-inner .area-wrapper .left {
  width: 37%;
}
.area .section-inner .area-wrapper .left img {
  width: 100%;
}
@media (max-width: 1129px) {
  .area .section-inner .area-wrapper .left {
    width: 100%;
    text-align: center;
  }
  .area .section-inner .area-wrapper .left img {
    max-width: 500px;
  }
}
@media (max-width: 767px) {
  .area .section-inner .area-wrapper .left {
    max-width: 212px;
    margin: auto;
    margin-bottom: 40px;
  }
}
.area .section-inner .area-wrapper .right {
  width: 63%;
  padding-left: 80px;
}
@media (max-width: 1129px) {
  .area .section-inner .area-wrapper .right {
    width: 100%;
    padding-left: 0;
  }
}
.area .section-inner .area-wrapper .right h3 {
  font-weight: bold;
  font-size: 28px;
  padding-top: 20px;
  padding-bottom: 24px;
}
@media (max-width: 1129px) {
  .area .section-inner .area-wrapper .right h3 {
    text-align: center;
  }
}
@media (max-width: 767px) {
  .area .section-inner .area-wrapper .right h3 {
    font-size: 18px;
  }
}
.area .section-inner .area-wrapper .right p {
  font-size: 20px;
  line-height: 1.8em;
}
@media (max-width: 767px) {
  .area .section-inner .area-wrapper .right p {
    font-size: 14px;
  }
}

.company {
  padding-bottom: 130px;
}
.company h2 span::after {
  width: 250%;
  left: -80%;
}
@media (max-width: 767px) {
  .company h2 span::after {
    width: 320px;
    left: calc(50% - 170px);
  }
}
@media (max-width: 1129px) {
  .company {
    padding-bottom: 0;
  }
}
.company .section-inner {
  padding-top: 64px;
  padding-bottom: 64px;
}
@media (max-width: 1129px) {
  .company .section-inner {
    padding-top: 0;
  }
}
@media (max-width: 767px) {
  .company .section-inner {
    padding-bottom: 0;
  }
}
.company .section-inner .company-wrapper {
  background-color: #fff;
  padding-top: 30px;
  padding-bottom: 30px;
  width: 100%;
  max-width: 1100px;
  margin: auto;
}
@media (max-width: 1129px) {
  .company .section-inner .company-wrapper {
    max-width: 800px;
  }
}
@media (max-width: 767px) {
  .company .section-inner .company-wrapper {
    padding-top: 10px;
    padding-bottom: 0;
  }
}
.company .section-inner .company-wrapper table {
  width: 77%;
  margin: auto;
}
@media (max-width: 767px) {
  .company .section-inner .company-wrapper table {
    width: 90%;
  }
}
.company .section-inner .company-wrapper table th, .company .section-inner .company-wrapper table td {
  font-weight: 500;
  padding-bottom: 18px;
  padding-top: 18px;
  font-size: 18px;
}
@media (max-width: 767px) {
  .company .section-inner .company-wrapper table th, .company .section-inner .company-wrapper table td {
    font-size: 14px;
  }
}
.company .section-inner .company-wrapper table th {
  color: #194494;
}
@media (max-width: 767px) {
  .company .section-inner .company-wrapper table th {
    width: 110px;
  }
}
@media (max-width: 767px) {
  .company .section-inner .company-wrapper table .syozai {
    vertical-align: baseline;
    padding-top: 24px;
  }
}
.company .section-inner .company-wrapper table td {
  color: #252525;
}
@media (max-width: 767px) {
  .company .section-inner .company-wrapper table td {
    line-height: 24px;
    width: calc(100% - 110px);
  }
}
.company .section-inner .company-wrapper table tr {
  border-bottom: 1px solid #cdd6dd;
}
@media (max-width: 1129px) {
  .company .section-inner .company-wrapper table tr:last-child {
    border-bottom: none;
  }
}

.banner {
  padding-top: 100px;
  padding-bottom: 100px;
  background-image: url(../img/banner-bg.webp);
  background-size: cover;
}
@media (max-width: 1129px) {
  .banner {
    background-position: right;
  }
}
@media (max-width: 767px) {
  .banner {
    background-image: none;
    background-color: #e4f2fe;
  }
}
.banner .section-inner {
  background-color: transparent;
}
.banner .section-inner .cta {
  position: relative;
}
@media (max-width: 1129px) {
  .banner .section-inner .cta::after {
    content: "";
    position: absolute;
    top: -148px;
    right: -10px;
    width: 190px;
    height: 154px;
    background-image: url(../img/sodan-man.svg);
    object-fit: contain;
    transform: scale(0.9);
  }
}

footer {
  background-color: #2b2b2b;
  height: 76px;
  display: flex;
  align-items: center;
  justify-content: center;
}
@media (max-width: 767px) {
  footer {
    margin-bottom: 120px;
  }
}
footer p {
  color: white;
  text-align: center;
  font-weight: bold;
  font-size: 16px;
}